<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551542205797-u8qd0ud47rvfg5k9e6flgt0pkstej82n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551542205797-u8qd0ud47rvfg5k9e6flgt0pkstej82n</string>
	<key>API_KEY</key>
	<string>AIzaSyBLuBbqwacSILdYXxPOx11iy_UMfVNA998</string>
	<key>GCM_SENDER_ID</key>
	<string>551542205797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cupidsoracle</string>
	<key>PROJECT_ID</key>
	<string>cupidsoracle-4e147</string>
	<key>STORAGE_BUCKET</key>
	<string>cupidsoracle-4e147.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551542205797:ios:ae28c3fad87123086f058c</string>
	<key>DATABASE_URL</key>
	<string>https://cupidsoracle-4e147-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>